<h1>会員ページ</h1>
<div class="home-content">
  <div class="user-show-visual">
    <div class="user-show-visual-content">
  <%= image_tag @user.get_profile_image, size: "150x150" %>
  <p><%= @user.name %></p>
  <p><%= @user.caption %></p>
  <%= link_to "編集する", edit_user_path(@user) %>
  </div>
  </div>
</div>

<div>
  <%= form_with model: @book do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <p>感想</p>
  <%= f.text_area :body %>
  <p>画像</p>
  <%= f.file_field :image, accept:"image/*" %>
  <%= f.submit "投稿" %>
<% end %>
</div>

<section>
  <table border="1">
    <tr>
      <th>タイトル</th>
      <th>感想</th>
    </tr>
    <tr>
      <% @books.each do |book| %>
      <%= image_tag book.get_image, size: "100x100" %>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <% end %>
    </tr>
  </table>
</section>
