<h1>ユーザー詳細</h1>
<section>
  <%= image_tag @user.get_profile_image, size: "50x50" %>
  <%= @user.name %>
  <%= @user.caption %>
  <%= link_to "編集する", edit_user_path(@user) %>
</section>

<section>
  <table border="1">
    <tr>
      <th>タイトル</th>
      <th>感想</th>
    </tr>
    <tr>
      <% @books.each do |book| %>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <% end %>
    </tr>
  </table>
</section>