<h1>Book一覧</h1>
<%= form_with model: @book do |f| %>
<p>タイトル</p>
<%= f.text_field :title %>
<p>感想</p>
<%= f.text_area :body %>
<%= f.submit "投稿" %>
<% end %>

<section>
  <table border="1">
    <tr>
      <th>タイトル</th>
      <th>感想</th>
    </tr>
    <tr>
      <% @books.each do |book| %>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to "本の編集", edit_book_path(book) %></td>
      <% end %>
    </tr>
  </table>
</section>
